:root {
  --font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body, p  {
  font-size: 16px;
}

p, .logo, body{
  color: #545d99;
}

.formulario, table, #myInput, input, textarea {
  border: 1px solid #d5d7fd;
  background-color: #ffffff;
}

body {
  background-color: #d0e1f7;
  background-image: url(images/blue-line-background.png);
}

p {
  padding: 5px 20px;
}

.formulario, table {
  box-shadow: 1px 1px 15px #ccc;
}

section {
  width: 40%;
  max-width: 100%;
  min-width: 350px;
  margin: auto;
  margin-bottom: 20px;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.logo {
  text-decoration: none;
  font-size: .8em;
  width: 60px;
  line-height: 15px;
}

.logo span {
  font-size: 1.3em;
  font-weight: 600;
}

button {
  cursor: pointer;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4f5794;
}

button:hover, button.btn-cta:hover {
  background-color: #485199;
  color: white;
  transition: 0.5s;
}

button.btn-cta {
  background-color: #5862b4;
  color: white;
}

.section-formulario {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.formulario {
  border-radius: 10px;
  padding: 60px;
  text-align: right;
}

input, textarea {
  width: 68%;
  max-width: 68%;
  min-width: 180px;
  color: hsl(0, 0%, 21%, 0.7);
}

form div {
  margin-bottom: 25px;
}

.formulario form div label {
  vertical-align: top;
  margin-right: 30px;
}

div {
  display: block;
}

#myInput {
  margin: 20px 20px ;
  border-radius: 100px;
  padding: 5px 15px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background: #5c64a3;
  background: linear-gradient(90deg, #5c64a3 21%, #5f6bce 49%, #5c64a3 82%);
  border: 1px solid #838bf6;
  color: white;
  text-align: center;
}

table tr, table td {
  padding: 10px;
}

@media (max-width: 1024px){
  .formulario {
    text-align: center; 
  }

  table {
    margin: auto;
    text-align: top center; 
    max-width: 100%;
    overflow-wrap: break-word;
    font-size: .7em;
  }

    button {
      margin-left: 0;
      font-size: .7em;
    }

}
