:root {
  --font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body, h3  {
  font-size: 16px;
  color: #4e4e4e;
}

body {
  background-color: #f3ffff;
}

.formulario, table, #myInput {
  border: 1px solid #d5d7fd;
  background-color: #ffffff;
}

section {
  width: 60%;
  max-width: 700px;
  min-width: 350px;
  margin: auto;
  margin-bottom: 20px;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.logo {
  text-decoration: none;
  font-size: 1.3em;
}

button {
  cursor: pointer;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #b700ff;
}

button:hover {
  background-color: #b700ff;
  color: white;
  transition: 0.5s;
}

.section-formulario {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.formulario {
  border-radius: 10px;
  padding: 60px;
  text-align: right;
}

input, textarea {
  width: 68%;
  max-width: 68%;
  min-width: 180px;
}

form div {
  margin-bottom: 25px;
}

.formulario form div label {
  vertical-align: top;
  margin-right: 30px;
}

div {
  display: block;
}

#myInput {
  margin-bottom: 20px;
  border-radius: 100px;
  padding: 5px 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {;
  background-color: #838bf6;
  border: 1px solid #838bf6;
  color: white;
  text-align: center;
}

table tr, table td {
  padding: 10px;
}

@media (max-width: 1024px){
  .formulario {
    text-align: center; }

    button {
      margin-left: 0;
    }

    .table-section {
      margin-bottom: 60px;
      max-width: 300px;
      font-size: 12px;
    }
}
